<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>ETC</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="../static/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../static/styles.css" rel="stylesheet" />
        <link href="../static/start.css" rel="stylesheet" />


    </head>
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container px-5">
                    <a class="navbar-brand" href="index.html">ETC</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="row">
                <div class="example-1 card">
                  <div class="wrapper">
                    <div class="date">
                     <span class="day"><h1>Youtube Link</h1></span> 

                    </div>
                    <div class="data">
                      <div class="content">
                        <span class="author">추출</span>
                        <h1 class="title"><a href="./url">Youtube 링크 넣기</a></h1>
                        <p class="text">Youtube 음원을 통해 midi file을 추출 할 수 있습니다</p>
                        <label for="show-menu" class="menu-button"><span></span></label>
                      </div>
                      <input type="checkbox" id="show-menu" />
                      <ul class="menu-content">
                        <li>
                          <a href="#" class="fa fa-bookmark-o"></a>
                        </li>
                        <li><a href="#" class="fa fa-heart-o"><span>47</span></a></li>
                        <li><a href="#" class="fa fa-comment-o"><span>8</span></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="example-2 card">
                  <div class="wrapper">
                    <div class="header">
                      <div class="date">
                        <span class="day"><h1>운지법 연습</h1></span>
                      </div>
                      <ul class="menu-content">
                        <li>
                          <a href="#" class="fa fa-bookmark-o"></a>
                        </li>
                        <li><a href="#" class="fa fa-heart-o"><span>18</span></a></li>
                        <li><a href="#" class="fa fa-comment-o"><span>3</span></a></li>
                      </ul>
                    </div>
                    <div class="data">
                      <div class="content">
                        <h1 class="title"><a href="/play">운지법 연습</a></h1>
                        <p class="text">추출한 음원의 코드를 이용하여 운지법을 연습합니다</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            
        <!-- Footer-->
        <footer class="bg-dark py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Your Website 2022</div></div>
                    <div class="col-auto">
                        <a class="link-light small" href="#!">Privacy</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Terms</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Contact</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="../static/scripts.js"></script>
        <script src="../static/start.js"></script>

    </body>
</html>
