<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content />
        <meta name="author" content />
        <title>ETC</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="../static/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../static/styles.css" rel="stylesheet" />
        <link href="../static/button.css" rel="stylesheet" />

    </head>
    <body class="d-flex flex-column">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container px-5">
                    <a class="navbar-brand" href="/start">ETC</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Page content-->
            <section class="py-5">
                <div class="container px-5">
                    <!-- Contact form-->
                    <div class="bg-light rounded-3 py-0 px-1 px-md-1 mb-1">
                        <div class="text-center mb-5">
                            <h1 class="fw-bolder">파일 다운로드 목록</h1>
                            <p class="lead fw-normal text-muted mb-0">다운 받고 싶은 midi file을 입력해 주세요</p>
                            <p>
                                {{filedown_list}}

                            </p>
                            <hr width="100%" color="black"/>
                        
                            <img src="{{ url_for('static',filename='images/download.png') }}", width="150" 
                                style="margin-left: auto; margin-right: auto; display: block;")/>
                        
                            <br><br><center>
                            <form action = "/fileDown" method = "POST">
                            <input type = "text" class="form-control" placeholder="mid file을 입력 해 주세요" name = "file" /><br>
                            <button class="pulse">Submit</button>
                            </form></center>
                            
                            <hr width="100%" color="black"/><br><br>
                            <h1 class="fw-bolder">Groove2Groove</h1><br>
                            <p class="lead fw-normal text-muted mb-0">Jazz style 변환하기</p><br>

                            <img src="{{ url_for('static',filename='images/jazz.png') }}", width="150" 
                                style="margin-left: auto; margin-right: auto; display: block;")/><br><br>
                            
                            <form action = "http://127.0.0.1:5050/groove_upload" method = "GET">
                            <button class="pulse">Groove2Groove Style 변환</button>
                            </form>

                            <hr width="100%" color="black"/><br><br>
                            <h1 class="fw-bolder">악보 추출</h1>
                            <br>
                            <p class="lead fw-normal text-muted mb-0">변환 된 midi file을 통한 악보 추출</p><br>
                            <img src="{{ url_for('static',filename='images/music_score.png') }}", width="150" 
                                style="margin-left: auto; margin-right: auto; display: block;")/>


                            <form action = "http://127.0.0.1:5010/upload" method = "GET">
                            <button class="pulse">악보 추출 하기</button>
                            </form>
                            <hr width="100%" color="black"/><br><br>
                        
                        </div>
                        </div>
                    </div>
        <!-- Footer-->
        <footer class="bg-dark py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; ETC 2022</div></div>
                    <div class="col-auto">
                        <a class="link-light small" href="#!">Privacy</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Terms</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Contact</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="../static/scripts.js"></script>
        <script src="../static/button.js"></script>

        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
